* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.wrapper {
    max-width: 940px;
    margin: auto;
}

header {
    background-color: black;
    color: white;
    padding: 20px 0;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav li {
    margin-left: 20px;
}

header nav a {
    color: white;
    text-decoration: none;
}
